OPTIONS="--collector.bonding --no-collector.infiniband --no-collector.ipvs --no-collector.wifi --no-collector.zfs --web.listen-address='{{ prometheus_exporter_node_host }}:{{ prometheus_exporter_node_port }}' --collector.netdev.ignored-devices '^(veth|br-)' --collector.filesystem.ignored-mount-points '^/(dev|sys|proc|run|var\/lib\/docker\/overlay2|var\/lib\/docker\/plugins|var\/lib\/docker\/containers)($|/)' --collector.systemd --collector.mountstats --collector.textfile.directory {{ prometheus_exporter_textfile_directory }}"
