OPTIONS="--collector.bonding --no-collector.infiniband --no-collector.ipvs --no-collector.wifi --no-collector.zfs --web.listen-address='{{ prometheus_exporter_node_host }}:{{ prometheus_exporter_node_port }}' --collector.filesystem.ignored-mount-points '^/(sys|proc|run)($|/)' --collector.systemd --collector.mountstats --collector.textfile.directory {{ prometheus_exporter_textfile_directory }}"
