---
version: '2'
services:
  nginx:
    restart: unless-stopped
    image: "{{ prometheus_exporter_nginx_image }}"
    volumes:
      - "{{ prometheus_exporter_configuration_directory }}/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro"
      - "/etc/hosts:/etc/hosts:ro"
    ports:
      - "{{ prometheus_exporter_nginx_host }}:{{ prometheus_exporter_nginx_port }}:80"

{% if prometheus_exporter_cadvisor_enable|bool and (prometheus_exporter_cadvisor_groupname in group_names or prometheus_exporter_cadvisor_groupname == 'all') %}
  cadvisor:
    restart: unless-stopped
    image: "{{ prometheus_exporter_cadvisor_image }}"
{% if prometheus_exporter_cadvisor_enable_webinterface|bool %}
    entrypoint: "/usr/bin/cadvisor -http_auth_file=/etc/htpasswd.cadvisor -docker_only"
{% else %}
    entrypoint: "/usr/bin/cadvisor -docker_only"
{% endif %}
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "/:/rootfs:ro"
      - "/var/run:/var/run:rw"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
{% if prometheus_exporter_cadvisor_enable_webinterface|bool %}
      - "{{ prometheus_exporter_configuration_directory }}/cadvisor/htpasswd.cadvisor:/etc/htpasswd.cadvisor:ro"
{% endif %}
{% endif %}

{% if prometheus_exporter_mariadb_enable|bool and (prometheus_exporter_mariadb_groupname in group_names or prometheus_exporter_mariadb_groupname == 'all') %}
  mariadb:
    restart: unless-stopped
    image: "{{ prometheus_exporter_mariadb_image }}"
    entrypoint: "/bin/mysqld_exporter -collect.binlog_size=true -collect.info_schema.processlist=true"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "{{ prometheus_exporter_configuration_directory }}/mariadb/my.cnf:/root/.my.cnf:ro"
{% endif %}

{% if prometheus_exporter_memcached_enable|bool and (prometheus_exporter_memcached_groupname in group_names or prometheus_exporter_memcached_groupname == 'all') %}
  memcached:
    restart: unless-stopped
    image: "{{ prometheus_exporter_memcached_image }}"
    entrypoint: "/bin/memcached_exporter -memcached.address {{ prometheus_exporter_memcached_target_address }}:{{ prometheus_exporter_memcached_target_port }}"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
{% endif %}

{% if prometheus_exporter_haproxy_enable|bool and (prometheus_exporter_haproxy_groupname in group_names or prometheus_exporter_haproxy_groupname == 'all') %}
  haproxy:
    restart: unless-stopped
    image: "{{ prometheus_exporter_haproxy_image }}"
    entrypoint: "/bin/haproxy_exporter --haproxy.scrape-uri=unix:/haproxy.sock"
    volumes:
      - "/etc/hosts:/etc/hosts:ro"
      - "{{ prometheus_exporter_haproxy_volume_socket }}:/haproxy.sock:ro"
{% endif %}

{% if prometheus_exporter_haproxy_enable|bool and (prometheus_exporter_haproxy_groupname in group_names or prometheus_exporter_haproxy_groupname == 'all') %}
volumes:
  {{ prometheus_exporter_haproxy_volume_socket }}:
    external: true
{% endif %}
